.side-bar {
  flex: 1;
  max-width: 300px;
  background: pink;
}
.main {
  flex: 1;
  width: 100%;
  background: red;
}
.header {
  background: green;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.main-content {
  padding: 20px;

}
.footer {
  background: yellow;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}