.ant-pagination-item-active {
  border-color: #FF993C;
  border-radius: 4px;
}
.ant-pagination-item a {
  color: #1E0D03;
}
.ant-pagination-item-active a {
  color: #FF993C;
  font-size: 14px;
}


/* MENU */
.ant-menu-item {
  height: 56px !important;
  width: 252px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
}
.ant-menu-item a:hover {
  color: #FFB800 !important;
}

.ant-menu-item-selected {
  background-color: #FFB800 !important;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  
}
.ant-menu-item-selected a {  
  color: #FFFFFF;
}
.ant-menu-item-selected a:hover {  
  color: #FFFFFF !important;
}
.ant-menu-item-selected::after {
  border-right: 0 !important;
}
.ant-menu-item-active {
  color: #FFFFFF !important;
  
}

