body {
  font-family: "Montserrat", "sans-serif";
}
.ant-pagination-item-active {
  border-color: #ff993c;
  border-radius: 4px;
}
.ant-pagination-item a {
  color: #1e0d03;
}
.ant-pagination-item-active a {
  color: #ff993c;
  font-size: 14px;
}

/* MENU */
.ant-menu-item {
  height: 56px !important;
  width: 252px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: normal;
}
.ant-menu-item:hover {
  color: #ffb800 !important;
}

.ant-menu-item-selected {
  background-color: #ffb800 !important;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}
.ant-menu-item-selected {
  color: #ffffff;
}
.ant-menu-item-selected:hover {
  color: #ffffff !important;
}
.ant-menu-item-selected::after {
  border-right: 0 !important;
}
.ant-menu-item-active {
  color: #ffffff !important;
}
.ant-menu-title-content {
  display: flex;
  align-items: center;
  margin-left: -1px;
  gap: 12px;
  letter-spacing: 0.5px;
}

/*  */
.search-input .ant-input {
  background-color: #ededed;
}
.search-input .ant-input:placeholder-shown {
  font-style: italic;
  padding-left: 6px;
  letter-spacing: 0.8px;
}
